h1{
  color:blue;
  text-align:center;
}

body{
  background-color:turquoise;

}


#Login{
  background-color:black;
  color:white;
  width:39px;
  text-align:center;
  padding:7px;
  position:absolute;
  right:20px;
}
